body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* background-color: gainsboro; */
}

nav {
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
}

.active,
.menubar-2 a:hover {
    background-color: aliceblue;
    border-radius: 2px;
    padding: 5px 15px;
}



/* nav>.menubar-2:hover a {
    background-color: white;
} */

.menubar-2 a,
i {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

h1 {
    text-align: in;
    font-size: 50px;
}

button {
    border: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgba(229, 16, 52, 0.89);
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    box-shadow: 2px 2px 4px grey;

}




#icon {
    color: white;
}

#img {

    margin-left: 50%;
}

.menu-details {
    display: flex;
    width: 70%;
    padding: 100px;

}

/* first part done  */
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}